<!DOCTYPE html>
<html>
    <head>
       <title>Home</title>
       <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <div id="wrapper">
            <div id="nav">
                <p>
                    <em>Home</em> |
                    <a href="\ninja">Ninja</a> |
                    <a href="\ninja\blue">Leonardo</a> |
                    <a href="\ninja\orange">Michelangelo</a> |
                    <a href="\ninja\red">Raphael</a> |
                    <a href="\ninja\purple">Donatello</a> |
                    <a href="\ninja\other">Other</a>
                </p>
            </div>
            <div id="home_container">
                <h1>Home</h1>
                <p>No ninjas here. Use the navigation at the top of this page to select a Ninja Turtle.</p>
            </div>
        </div>
    </body>
</html>